body{
    background-color: rgb(99, 226, 99);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.plcalculator {
    text-align: center;
    background-color: rgb(102, 155, 22);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h2{
    color: white
}